
.container {
  margin: 0 auto;
  width: 840px;
	font-family: 'Open Sans', sans-serif;
}


nav{
  float:left;
  width:160px;
}
section{
  float:right;
  width:640px;
  border-left: solid 1px black;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  padding:0 0;
}

footer {
  clear: both;
}

header {
    border-bottom: solid 1px black;
  }
